.form-task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.input-task {
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 28px 14px 20px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #00471b;
    outline: none;
}

.button-task {
    padding: 13px 13px 12px 13px;
    /* padding: 12px 32px 12px 32px; */
    font-size: 18px;
    font-family: agbalumo, sans-serif;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background: #1b1b32;
    border: 2px solid fuchsia;
    color: white;
    text-transform: capitalize;
}

@media all and (max-width: 750px) {


    .button-task {
        margin-top: 10px;
        padding: 8px 13px 12px 13px;
    }
}