.container {
    width: 100%;
}

.container-logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.raquel-logo {
    max-width: 100%;
}

@media all and (max-width: 750px) {
    .container-logo {
        width: 35%;
    }
}